<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Halaman Tambah dan UbahSisduk DKI</title>
		<meta charset="ISO-8859-1"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	</head>
	<body>	
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">Sistem Informasi Kependudukan</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/">Home</a></li>
      				<li><a href="/">Cari Data</a></li>
      				<li class="active"><a href="tambahUbah">Tambah dan Ubah Penduduk</a></li>
      			</ul>
			</div>
		</nav>
		
		<div class="container">
			<h2>Menambah Data</h2>
			<h4>Silakan menambahkan data yang diinginkan.</h4>
			<hr/>
			
			<h4>Menambahkan Penduduk Baru</h4>
			<a href="tambahPenduduk"><button type="button" class="btn btn-info">Tambahkan</button></a>
			<br></br> <br></br>
			
			<h4>Menambahkan Keluarga Baru</h4>
			<a href="tambahKeluarga"><button type="button" class="btn btn-info">Tambahkan</button></a>
		</div>

		<br></br> <br></br>

		<div class="container">
			<h2>Mengubah Data</h2>
			<h4>Silakan mengubah data yang diinginkan.</h4>
			<hr/>
			

		</div>

	</body>
</html>